body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  .navbar-brand {
    .logo {
      width: 84px;
      height: 84px;
      border-radius: 100vw;
    }
  }
}

.main {
  margin-block: 2rem;
  flex: 1;
}